/*
------
RESET
------
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 65px;
}

/*
------
TYPO
------
*/

body {
    font-family: 'Roboto', sans-serif;
}

header, .sale, .sus {
    color: #fff;
}

.box {
    font-size: 13px;
}

main .container .product small {
    font-size: 16px;
}

h2 {
    font-size: 20px;
}

.discount {
    color: #ff0000;
}

.original {
    text-decoration: line-through;
}

/*
------
COMMON
------
*/

.wide {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    margin-right: 5px;
}

img {
    width: 100%;
}

.box {
    padding: 5px 15px;
}

/*
------
HEADER
------
*/

header {
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 400;
}

header .wide {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wide .logo {
    height: 28px;
}

header .wide i {
    margin-left: 5px;
}

/*
------
MAIN
------
*/

main .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
    gap: 10px;
}

main .container .product {
    width: calc(33% - 10px);
    position: relative;
}

main .container .product .heart {
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 18px;
    z-index: 10;
}

main .container .product .mod {
    /* position: absolute; */
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 120px;
    z-index: 10;
}

main .container .product .sale {
    background-color: #ff0000;
}

main .container .product .sus {
    background-color: #008000;
}

/* 
Hover function
*/

main .container .product .fore {
    position: absolute;
    z-index: 1;
    transition: opacity 1s ease-in-out;
}

/*main .container .product .back {
    position: relative;
}

main .container .product:hover .back {
    z-index: 2;
} */

.product:hover .fore {
    opacity: 0;
}

